
@{
    ViewData["Title"] = "API";
    Layout = "~/Views/Shared/_ApiLayout.cshtml";
}

<div class="jumbotron text-center container mt-3">
    <div class="container">
        <h1>API Access</h1>
        <p class="lead text-muted">
            We want to allow developers to build great products powered by Chatter and we recognize our developer community is integral to the success of the Chatter platform. We also want protect our users’ privacy and security regardless of how they choose to consume Chatter content.
            <div >
                <ul class="list-group text-muted">
                    <li class="list-group-item">You may not use the Chatter logos and trademark without approval from us</li>
                    <li class="list-group-item">You may use "for Chatter" or "a client for Chatter" in the title of your app. You may not use "Chatter" without "for" preceding it. You may not use the word "official" in the title, keywords or description in any way that implies the app was developed by Chatter Project team.</li>
                    <li class="list-group-item">If your intended usage is commercial, you’ll need approval from us (either by filling out the API terms form or emailing api@Chatter.com. Use of the API is considered "commercial" if you are earning money from it, including, but not limited to in-app advertising, in-app purchases or you intend to learn from the data and repackage for sale. Open source use is generally considered non-commercial.</li>
                </ul>
            </div>
        </p>
    </div>
</div>
<div class="container">
    <h1>Overview</h1>
    <p>
        Chatter's API exposes the entire Chatter infrastructure via a standardized programmatic interface. Using Chatter's API, you can do just about anything, while using your programming language of choice. The Chatter API is a RESTful API based on HTTP requests and JSON responses.
        <h3>Example code</h3>
        These examples serve as a starting point to help familiarize you with the basics of the Chatter API.
        <ul class="list-group-flush">
            <li><a href="@Url.Action("JavaLib","ApiDoc")">Official Java library</a></li>
            <li><a href="@Url.Action("JsExamples","ApiDoc")">C++ examples</a></li>
            <li><a href="@Url.Action("CsharpExamples","ApiDoc")">C# examples</a></li>
        </ul>
    </p>
    <h3>Endpoints</h3>
    Hotlinks to RESTful endpoints' documentation
    <div class="album py-5">
        <div class="row">
            <div class="ml-2 col-md-2">
                <a href="@Url.Action("UserEndpoint","ApiDoc")">
                    <div class="card  mb-4 shadow bg-primary text-white">
                        <div class="d-flex pt-2 flex-column card-body">
                            <h5 class="card-title">User</h5>
                            <p class="card-text">Managing logged in user, authenticating password or deleting accounts.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="@Url.Action("RoomEndpoint","ApiDoc")">
                    <div class="card  mb-4 shadow bg-primary text-white">
                        <div class="d-flex pt-2 flex-column card-body">
                            <h5 class="card-title">Room</h5>
                            <p class="card-text">Join or leave conversations, get users in a room. Create or delete your own rooms</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="@Url.Action("RelationshipEndpoint","ApiDoc")">
                    <div class="card  mb-4 shadow bg-primary text-white">
                        <div class="d-flex pt-2 flex-column card-body">
                            <h5 class="card-title">Relationship</h5>
                            <p class="card-text">Allows adding or removing friends, blocking users and sending friends requests</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="@Url.Action("MessageEndpoint","ApiDoc")">
                    <div class="card mb-4 bg-primary text-white shadow">
                        <div class="d-flex pt-2 flex-column card-body">
                            <h5 class="card-title">Message</h5>
                            <p class="card-text">Send and receive messages from other users, edit a message or change status.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 mr-2">
                <a href="@Url.Action("CFileEndpoint","ApiDoc")">
                    <div class="card  mb-4 shadow bg-primary text-white">
                        <div class="d-flex pt-2 flex-column card-body">
                            <h5 class="card-title">CFile</h5>
                            <p class="card-text">Send files or pictures to server, get all files in a conversation. Bulk send</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <p>
        <h3>Rate Limits</h3>
        The Chatter API has maximum limit of 1024 request per user per hour. Message size is limited to 48 KB (about 6000 UTF-8 symbols). Files upload is limited to 3 MB per file and maximum of 5 files per day. Profile and group pictures are limited to 0.5 MB.
    </p>
</div>
